.card {
    font-size: 10em;
    font-weight: bold;
}

.severity-critical {
    color: red !important;
}

.metaData {
    text-align: left;
    font-size: 1.5em;
}

.statusError {
    color: red;
}

.statusSuccess {
    color: green;
}

.score-container {
    text-align: left;
    font-size: 2em;
    padding-top: 2em;
}

.score-title {
    font-weight: bold;
}

.score-result {
    font-weight: normal;
}